<!-- <app-template-driven></app-template-driven> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-pipes></app-pipes>
<app-joke-list></app-joke-list> -->
<!-- <div class="container">
<div class="row">
<div class="col-xs-6">
<app-parent><app-child></app-child></app-parent>
</div>
<div class="col-xs-6">
<app-parent><app-child></app-child></app-parent><!-- Service through : viewProviders
</div>
</div>
</div>
<app-ee-status></app-ee-status> -->
<!-- <app-server-http-operations></app-server-http-operations> -->
<router-outlet></router-outlet>

        